:root {
	--header-border: 80vh;
	--header-color: #1f1f1f;

	--recipe-width: 600px;
}

* {
    margin: 0;
}

body {
	background-color: #4f4f4f;
	font-family: sans-serif;
	text-align: center;
	font-size: large;
}





.recipe-list-container {
	max-width: 750px;

	display: grid;
    grid-gap: 10px; /* Spacing between grid items */

    padding: 10px; /* Padding around the grid */
	margin: auto;
}

/* Responsive Grid Breakpoints */
@media (min-width: 300px) { /* Tiny screens, 1 column */
    .recipe-list-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 450px) { /* Small screens, 2 columns */
    .recipe-list-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 700px) { /* Medium screens and larger, 3 columns */
    .recipe-list-container {
        grid-template-columns: repeat(3, 1fr);
    }
}






.recipe-light-container {
	background-color: #ffffff;

	width: 200px;
	height: 100px;

	margin: 10px auto;
	padding: 10px;
	
	border: 1px solid #b5b5b5;
    border-radius: 15px;
    box-sizing: border-box;

	transition: transform 0.1s ease-out;

	box-shadow: 0px 0px 7px rgba(0, 0, 0, .13);
}
.recipe-light-container:hover {
	transform: scale(1.2);
}
.recipe-light.name {
	text-align: left;
}
ul.recipe-light {
	display: flex;
    flex-wrap: wrap;
    gap: 2px;

	float: right;
	text-align: center;

	width: 100px;
}
li.recipe-light {
	font-size:small;

	width: auto;

	margin: 0;
	padding: 2px;

	border: 1px solid #ababab;
    border-radius: 15px;
    box-sizing: border-box;
}







// RECIPE ---------------------------------------------------------------------------

.editable-recipe {
	margin: 30px auto;

	max-width: 600px;
}



.list {
	margin-top: 19px;
	margin-bottom: 10px;
}
.list:last-of-type {
	//margin-bottom: 100px;
}
.list:after {
	content: "";
    display: block;
	background-color: #1f1f1f;

    width: 50%;
    height: 0.1px;

	margin: 19px 0;
}

#field-title {
	margin-bottom: 6px;
}


.list, ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: center;

	padding: 0;
}

li {
	margin-bottom: 5px;
}
li:last-child {
	margin-bottom: 3px;
}

.ingredients li{
	display: flex;
	flex-direction: row;
}



#text-input {
	font-family: inherit;
	text-align: center;

	line-height: 1;
	resize: vertical;
	overflow-y: auto;

	width: 500px;
	//height: 15px;

	margin: 0 3px ;
    padding: 6px;

	//border-style: inset;
    border: 1px solid #b5b5b5;
    border-radius: 15px;
    box-sizing: border-box;

	transition: border 0.1s ease-out;
	transition: transform 0.1 ease-out;
}
#text-input:hover {
	transform: scale(1.01);
}
textarea #text-input {
	/*max-height: 150px;
	overflow-x: hidden;
	overflow-y: auto;*/
}

input.name {
	font-size: x-large;
	padding: 6px;
}

#text-input.tags {
	overflow: auto;

	height: 26px;
	width: 150px;
}

#text-input.ingredients {
	overflow: auto;
	resize: vertical;
	height: 26px;
}
#text-input.quantity {
	//margin: auto;
	min-width: 50px;
	width: 50px;
	max-width: 100px;
	
}
#text-input.unit, #text-input.quantity {
	border-radius: 8px;
	margin: auto 1px;
}
#text-input.quantity {
	text-align: right;
	width: 50px;
}
#text-input.unit {
	text-align: left;
	width: 65px;
}
#text-input.ingredients-content {
	width: 200px;
}

#text-input.instructions {
	text-align: left;
	height: 60px;
	border: none;
	border-radius: 10px;
}
li.instructions {
	display: inline-block;
}


li#entry-li {
	display: flex;
	flex-direction: row;
}

ul.notes {
	display: block;
	//list-style-type:circle;
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
	list-style-position: inside;//this is important addition
}
#entry-li.notes{
	margin-bottom: 10px;
}
#text-input.notes {
	margin-right: 2px;
	margin-bottom: 2px;
}
#text-input.notes.title{
	width: 100px;
}
#text-input.note-content{
	height: 60px;
	width: 200px;
}
.editable-recipe-note-container {
	display: flex;
	flex-direction: column;
}

.ingredients {
	//
}

.recipe-ingredients {
	
}

.instructions {
	//
}

.notes {
	//
}



// OTHER -------------------------------------------------


// BUTTONS
#fake-button {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	
	transition: box-shadow 0.3s;
	transition: background-color 0.3s ease;
	transition: color 0.5s ease;
	transition: transform 0.1s ease-out;
    
    border-radius: 10px;
    outline: none;
    border: none;
}
#fake-button:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

#fake-button.add-button {
	width: 125px;
    height: 20px;
}
.add-button {
	color: rgb(0, 0, 0);
	background-color: #a36322;
}
.add-button:hover {
	background-color: #6d461f;
	color: rgb(212, 212, 212);

	transform: scale(1.1);
}
.add-button:active {
	color: rgb(255, 255, 255);
    background-color: #4d351d;

	transform: scale(1.1);
}

.remove-button-container{
	/*float: right;
	height: fit-content;
	//display:table-row;
	justify-content: center;
	align-items: center;*/
}
#fake-button.remove-button{
	font-size: 50%;
	font-weight: bold;

	position: relative;
	//right: 0;

	height: 17px;
	width: 17px;

	/*margin-left: 3px;
	margin-top: auto;
	margin-bottom: auto;*/
	margin: auto auto;

	border-radius: 15px;
}
.remove-button {
	color: rgb(0, 0, 0);
	background-color: #d17e2b;
}
.remove-button:hover {
	background-color: #825221;
	color: rgb(169, 169, 169);

	transform: scale(0.9);
}
.remove-button:active {
	color: rgb(255, 255, 255);
    background-color: #684726;

	transform: scale(0.9);
}




.header-menu {
	height: 120px;

	background-color: var(--header-color);

	z-index: 10;
}

.header-links {
	padding: 0 15px;
}

.page-name {
	position: absolute;
	color: #ffffff;
	z-index: 10;
	height: 35px;
    left: 50%;
    transform: translate(-50%, -55px);
}

.tag-list {
	list-style-type: none;
	font-size: small;
	position: absolute;
    left: 0;
	width: 45px;
    background-color: #f0f0f0;
    padding: 10px;
}

.tag-selected {
	background-color: #f00;
}
  
.popup {
	position: fixed;
	z-index: 100000;

	display: flex;
    justify-content: center;
    align-items: center; 

	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	background-color: rgba(1, 1, 1, .75);
	opacity: 1;

	transition: opacity 0.5s ease;
}

.popup-window {
	background-color: #555555;
	padding: 50px 50px;
}

.action-pending-hidden {
	opacity: 0;
	pointer-events: none;
}



// SLIDES Definitions -----------------------------------------------

.slideIn {
	animation: 0.25s slideIn forwards cubic-bezier(0.0, 0.0, 0.2, 1);
}

.slideOut {
	animation: 0.1s slideOut forwards;
}

@keyframes slideIn {
	from {
	transform: translate(100vw, 0);
	}
	to {
	transform: translate(0px, 0px);
	}
}
  
@keyframes slideOut {
	from {
	  transform: translate(0px, 0px);
	}
	to {
	  transform: translate(-100vw, 0);
	}
}

.slideInBack {
	animation: 0.25s slideInBack forwards cubic-bezier(0.0, 0.0, 0.2, 1);
}

.slideOutBack {
	animation: 0.1s slideOutBack forwards;
}

@keyframes slideInBack {
	from {
	  transform: translate(-100vw, 0);
	}
  
	to {
	  transform: translate(0px, 0px);
	}
}
  
@keyframes slideOutBack {
	from {
	  transform: translate(0px, 0px);
	}
  
	to {
	  transform: translate(100vw, 0);
	}
}