:root {
	--header-border: 80vh;
	--header-color: #1f1f1f;

	--recipe-width: 600px;
}

* {
    margin: 0;
}

body {
	background-color: #ffffff;
	font-family: sans-serif;
	text-align: center;
}

.recipe-list-container {
	width: 100%;
	height: var(--header-border);

	overflow-y: scroll;

	//--mask: linear-gradient(to bottom, rgb(0, 0, 0, 1) 88%, rgb(0, 0, 0, 0) 98% ) 100% 20% / 100% 100% repeat-x;

	//-webkit-mask: var(--mask); 
  	//mask: var(--mask);
}

.recipe-container {
	background-color: #ffffff;

	max-width: var(--recipe-width);
	margin: 30px auto;
	height: 50px;

	overflow: hidden;

	box-shadow: 0px 0px 7px rgba(0, 0, 0, .13);
}

.expended {
	height: auto;
}

.editable-recipe {
	margin: 30px auto;
}


.recipe-title {
	//
}


.recipe-note-container {
	border: #f00;
	background-color: aquamarine;
}

.recipe-note {
	font-size: xx-large;
	color: red;
}


.header-menu {
	height: 120px;

	background-color: var(--header-color);

	z-index: 10;
}

.header-links {
	padding: 0 15px;
}

.new-recipe-container-hidden {
	height: 0px;
}

.page-name {
	position: absolute;
	color: #ffffff;
	z-index: 10;
	height: 35px;
    left: 50%;
    transform: translate(-50%, -55px);
}

.new-recipe-cancel-button {
	bottom: 0;
}

.tag-list {
	list-style-type: none;
	font-size: small;
	position: absolute;
    left: 0;
	width: 45px;
    background-color: #f0f0f0;
    padding: 10px;
}

.tag-selected {
	background-color: #f00;
}
  
.popup {
	position: fixed;
	z-index: 100000;
	//pointer-events: all;

	display: flex;
    justify-content: center;
    align-items: center; 

	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	background-color: rgba(1, 1, 1, .75);
	opacity: 1;

	transition: opacity 0.5s ease;
}

.popup-window {
	background-color: #555555;
	padding: 50px 50px;
}

.action-pending-popup p {
	position: fixed;
	color: #ffffff;

	bottom: 50vh;
	left: 45vw;

	font-size: xx-large;
}

.action-pending-hidden {
	opacity: 0;
	pointer-events: none;
}



// SLIDES Definitions -----------------------------------------------

.slideIn {
	animation: 0.25s slideIn forwards cubic-bezier(0.0, 0.0, 0.2, 1);
}

.slideOut {
	animation: 0.1s slideOut forwards;
}

@keyframes slideIn {
	from {
	transform: translate(100vw, 0);
	}
	to {
	transform: translate(0px, 0px);
	}
}
  
@keyframes slideOut {
	from {
	  transform: translate(0px, 0px);
	}
	to {
	  transform: translate(-100vw, 0);
	}
}

.slideInBack {
	animation: 0.25s slideInBack forwards cubic-bezier(0.0, 0.0, 0.2, 1);
}

.slideOutBack {
	animation: 0.1s slideOutBack forwards;
}

@keyframes slideInBack {
	from {
	  transform: translate(-100vw, 0);
	}
  
	to {
	  transform: translate(0px, 0px);
	}
}
  
@keyframes slideOutBack {
	from {
	  transform: translate(0px, 0px);
	}
  
	to {
	  transform: translate(100vw, 0);
	}
}