:root {
	--header-height: 50px;
	--header-color: #1f1f1f;

	--recipe-max-width: 728px;

	--big-button-size: 50px;

	--menu-open-speed: 0.15s;
	--menu-height: 11rem;
	--menu-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

	--text-input-height: 32px;
	--text-input-font-size: 18px;
	--text-input-border-color: rgb(196, 196, 196);

	// Recipes Light colors
	--color-1: #f9ecd4;
	--color-2: #a78370;
	--color-3: #f57032;
	--color-4: #f5a640;

	// Other colors
	--color-5: #5a483a;
	--color-6: #d6e8f7;
	--color-7: #976e58;
	--color-8: #caaacd;
	--color-9: #f5a640;
	--color-10: #9c9c5d;
	--tag-list-color: #a78370;


	// Theme
	--theme-color-bg: #FFEAD7;
	--theme-color-bg-alt: #BC643E;
	--theme-color-menu: #607988;

	--theme-color-tags: #FFBE58;

	--theme-color-1: #EC865B;
	--theme-color-1-alt: #FFEAD7;
	--theme-color-2: #949E70;
	--theme-color-2-alt: #FFEAD7;
	--theme-color-3: #FFBE58;
	--theme-color-3-alt: #BB643E;
	--theme-color-4: #FEBAA1;
	--theme-color-4-alt: #667143;

	--shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);

	--buttons-height: 2rem;
	--buttons-width: 4.35rem;

	--drop-menu-border-radius: 25px;
}

* {
    margin: 0;
}

body {
	background-color: var(--theme-color-bg);
	font-family: sans-serif;
	text-align: center;
	//font-size: large;
}

ul {
	list-style-type: none;
	padding: 0;
}



.header-menu {
	z-index: 10;

	display: flex;
	justify-content: center;

	text-align: left;

	height: var(--header-height);
	
	color: black;
	
	background-color: var(--color-1);
}
.logo {
	display: block;

	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
svg {
	&.logo-svg {
		overflow: visible;

		width: 200px;
		height: 200px;

		fill: var(--color-5);
		stroke: var(--color-5);
		stroke-width: 7px;
	}
}


.recipe-menu-button {
	position: absolute;

	height: var(--buttons-height);
	width: var(--buttons-height);

	
	z-index: 10;

	color: var(--theme-color-bg-alt);
	background-color: var(--theme-color-bg);

	border: none;
	border-radius: 80px;

	box-shadow: var(--shadow);

	&.menu {
		top: 2.5vh;
		right: 2.5vh;
	}

	&.back {
		top: 2.5vh;
		left: 2.5vh;

		background-color: none;

		font-weight: bold;

		&::after {
			content: "<"
		}
	}
}
.recipe-menu {

	position: sticky;

	overflow: hidden;

	display: flex;
	flex-direction: column; /* Pour empiler les éléments en colonne */
	justify-content: center;
	align-items: center;

	top: 0;
	right:0;

	width: 100vw;
	height: var(--menu-height);

	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

	transition:
		height var(--menu-open-speed) ease-out
	;

	&.is-open {
		height: calc(var(--menu-height) + 5rem);

		&.not-logged-in {
			height: var(--menu-height);
		}
	}
}
.recipe-name {
	/*margin-top: auto;
	margin-bottom: 20px;*/

	padding-top: 10vh;

	&.menu-open {
		opacity: 0%;
	}
}
.recipe-menu-option {
	height: 25px;
	width: 50px;

	margin: 15px 0;
}


.new-recipe-button {
	cursor: pointer;

	font-size: xx-large;
	font-weight: 900;

	position: fixed;
    bottom: 3vh;
    right: 3vh;
	z-index: 10;

	height: var(--big-button-size);
	width: var(--big-button-size);
	margin: 0;
	padding: 0;

	color: var(--theme-color-bg);
	background-color: var(--theme-color-2);

	border: none;
	border-radius: 50%;

	box-shadow: var(--shadow);
}


.page-name {
	cursor: crosshair;
	position: absolute;
	right: 20px;
}


.background-blocker {
	display: none;

	position: fixed;

	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	background-color: rgb(0, 0, 0);
	opacity: 0%;

	transition:
		opacity var(--menu-open-speed) ease-out;
	
	&.tags-blocker {
		z-index: 100;
	}

	&.settings-blocker {
		z-index: 200;
	}

	&.is-enabled {
		display: inherit;
		opacity: 35%;
	}
}


.settings-menu-button {

	position: absolute;

	height: var(--buttons-height);
	width: var(--buttons-height);

	top: 2.5vh;
	right: 2.5vh;
	z-index: 10;

	background-color: var(--theme-color-menu);

	border: none;
	border-radius: 80px;

	box-shadow: var(--shadow);

	&.menu-open {
		z-index: 201;
		background-color: var(--theme-color-bg);
	}

}
.settings-menu {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	overflow-x: hidden;

	z-index: 200;
	position: fixed;

	top: calc(var(--menu-height) * -1);
	right: 0;

	height: var(--menu-height);
	width: 100%;

	background-color: var(--theme-color-menu);
	box-shadow: none;

	border-bottom-left-radius: var(--drop-menu-border-radius);
    border-bottom-right-radius: var(--drop-menu-border-radius);

	transition:
		top var(--menu-open-speed) ease-out
	;

	&.is-open {
		top: 0;
		box-shadow: var(--menu-shadow);
	}
}

.settings-button {

	cursor: pointer;

	position: relative;

	height: 35px;
	width: 70px;

	margin: 25px;

	border: 1px solid black; 
	border-radius: 100px;

	background-color: var(--color-1);

	transition:
		transform 0.1s ease-out,
		background-color 0.1s ease-out
	;

	&.logout {
		//
	}

	&.backup {
		//
	}
}
.download-backup-button {

	font-size: small;
	text-decoration: none;
	color: inherit;

	cursor: pointer;

	position: relative;

	//height: 35px;
	//width: 150px;

	margin: 25px;
	padding: 10px 15px;

	border: 1px solid black; 
	border-radius: 100px;

	background-color: var(--color-4);
}
.backup-warning {
	font-size: small;
}


.search-bar {
	display: inline-block;

	width: 100%;
	height: 35px;

	background-color: white;

	margin-left: 1rem;
	padding-left: 10px;

	border-radius: 40px;
}
.search-bar-input {
	width: 170px;
	height: 30px;

	background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}
.search-bar-button {
	font: inherit;
    cursor: pointer;

	position: relative;
	right: 5px;

	margin-left: 5px;

	background: none;
    color: inherit;
    border: none;
    padding: 0;
    
}

.save-button-container {
	position: absolute;
	bottom: 100px;
	right: 100px;
}



.recipe-list-container {

	display: grid;
	//grid-auto-columns: 100%;
    gap: 16px;
    justify-items: center;
	align-items: center;

	place-items: center;

	padding: 0 1rem;
	padding-bottom: 10rem;
}

/* Responsive Grid Breakpoints */
@media (min-width: 300px) {
    .recipe-list-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 301px) {
    .recipe-list-container {
		grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 700px) {
    .recipe-list-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {
    .recipe-list-container {
        grid-template-columns: repeat(4, 1fr);
    }
}




// RECIPE LIGHT ----------------------------------------------

.recipe-card {
	position: relative;

	text-align: left;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	box-sizing: border-box;

	//height: 9rem;
	min-height: 9rem;
	max-height: 20rem;
	height: 100%;
	min-width: 9rem;
	max-width: 20rem;
	width: 100%;

	padding: 10px;
	
    border-radius: 15px;
	border: 5px solid;
	border-color: #00000000;

	overflow: hidden;

	&.into-menu {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		font-size: large;
		font-weight: bold;

		background-color: var(--theme-color-bg);
		//border: 5px solid;
	}
}
ul.recipe-light {
	border-radius: 15px;
	box-sizing: border-box;

	margin: 0px 0px;
	padding: 0px 0px;
}
ul.recipe-light li::before {
    content: "#";
    margin-right: 1px; /* Adjust the spacing if needed */
}
.recipe-light {

	line-height: 12px;

	&.name {
		text-align: left;
		font-size: large;

		margin-top: 35px;
	}

	li {
		display : inline-block;
		
		
		text-align: left;
	
		font-weight: bold;
		font-size: 12px;
	
		width: auto;
	
		margin: 0px 0px;
		padding: 0px 3px;

	}
}

.recipe-card-button {
	cursor: pointer;

	position: absolute;
    top: 8px;
    right: 8px;

    width: 20px;
	height: 20px;

	margin: auto auto;

	background-color: var(--theme-color-bg);

    border-radius: 15px;
	border: none;

	/*&:focus {
		scale: 10;
	}*/
}
.sub-menu-option {
	cursor: pointer;

	margin: 2px 0;

	&:hover {
		//scale: 1.1;
	}
}



// RECIPE ---------------------------------------------------------------------------

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	max-width: 100vw;

	overflow-x: hidden;
}

.display-recipe-container {
	max-width: var(--recipe-max-width);
	text-align: left;
}

.display-recipe {
	&.container {
		//margin-bottom: 50px;

		padding-top: 2.5rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;

		&.tags {
			margin-bottom: 5rem;
		}
	}


	&.name {
		text-align: center;
		//margin-bottom: 50px;
	}

	&.title {
		margin-bottom: 2.5rem;
		//margin-left: 1rem;
	}


	ul {
		&.tags {
			display: flex;
			justify-content: center;
		}
	}


	&.content {
		&.instructions {
			white-space: pre-wrap;
		}
	}

	li {
		//margin-bottom: 15px;
		&.notes {
			margin-bottom: 1rem;

			padding: 1rem 0.5rem;

			border-radius: 15px;
			border: 5px solid;
		}

		&.tags {

			display: flex;
			align-items: center;
			justify-content: center;

			font-size: 0.9rem;
			font-weight: bold;

			height: var(--buttons-height);

			padding: 0 1rem;
			margin: 0.25rem;
			
			border: none;
			border-radius: 10rem;

			color: var(--theme-color-bg-alt);
			background-color: var(--theme-color-tags);

			&::before {
				content: "#";
			}
		}
	}


	&.notes {

		h4 {
			//margin-bottom: 7px;
		}
	}
}


.editable-recipe {
	text-align: left;
	max-width: var(--recipe-max-width);
	width: var(--recipe-max-width);

	.name {
		margin-bottom: 50px;
	}

	h3 {
		margin-bottom: 20px;
	}

	li {
		margin-bottom: 10px;
	}
}

.editable.container {
	margin-bottom: 30px;
}



.ingredients li{
	display: flex;
	flex-direction: row;
}



#text-input {
	font-family: inherit;
	text-align: center;

	font-size: var(--text-input-font-size);
	font-weight: 100;

	line-height: 1;

	outline: none;

	width: 500px;

	border: none;
	background-color: #ffffff00;
    border-radius: 15px;

	transition: border 0.1s ease-out, transform 0.1 ease-out;

	&.name {
		font-size: x-large;
		padding: 6px;

		border-radius: 15px;
		border: 1px solid var(--text-input-border-color);
	}

	&.tags {
		overflow-y: visible;
		height: var(--text-input-height);
		width: fit-content;
		min-width: 50px;
	}

	&.ingredients {
		max-height: var(--text-input-height);
		height: var(--text-input-height);

		&.quantity, &.unit {
			margin: auto 1px;
		}

		&.quantity {
			text-align: right;
			width: 75px;
		}

		&.unit {
			text-align: left;
			width: 120px;
		}

		&.ingredients-content {
			width: 400px;
		}
	}

	&.instructions {
		text-align: left;
		height: 60px;
		border: none;
		border-radius: 10px;
	}

	&.notes {
		text-align: left;
	
		&.title {
			font-weight: bold;
		}
	}

	&.save-input {
		text-align: left;
		padding: 10px;

		width: inherit;
	}
}


ul.tags {
	display: flex;
	flex-wrap: wrap;
}


li#entry-li {
	display: flex;
	flex-direction: row;
	width: fit-content;

	padding: 5px 5px;

	border-radius: 15px;
	border: 1px solid var(--text-input-border-color);

	&.tags {
		height: var(--text-input-height);
	}

	&.ingredients {
		height: var(--text-input-height);
	}
}

.divider {
	position: relative;

    background-color: var(--text-input-border-color); /* Bar color (black) */

	&.ingredients {
		width: 1px;
		height: var(--text-input-height);
		margin: 0px 5px;
	}

	&.notes {
		right: 0px;
		left: 0px;
		height: 1px;
		margin: 5px 0px;
	}

	&.save {
		right: 0px;
		left: 0px;
		height: 1px;
		margin: 5px 0px;
	}
}

textarea#text-input {
	resize: none;

	-ms-overflow-style: none;
	  scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.editable-recipe-note-container {
	display: flex;
	flex-direction: column;
}


// OTHER -------------------------------------------------


// SUGGESTIONS LIST
.suggestions-list {

	position: absolute;
	list-style:	none;
	align-items: left;

	overflow-y: auto;

	max-width: 150px;
	max-height: 250px;
	transform: translate(175px, -25px);

	background-color: white;
	color: black;
	border: 1px solid grey;
	border-radius: 15px;

	//
}
.suggestions-list-entry {
	text-align: left;
	margin: 1px 2px;

	&:hover {
		background-color: rgb(70, 70, 255);
		color: white;
	}

	&:active {
		background-color: rgb(0, 0, 109);
		color: white;
	}
}

// BUTTONS
#fake-button {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	
	transition: box-shadow 0.3s, background-color 0.3s ease, color 0.5s ease, transform 0.1s ease-out;
    
    outline: none;
    border: none;

	&:focus {
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
	}
}

.add-button {
	height: 26px;
  	width: 150px;

	border-radius: 15px;

	color: rgb(0, 0, 0);
	background-color: #a36322;

	&:hover {
		background-color: #6d461f;
		color: rgb(212, 212, 212);
	
		transform: scale(1.1);
	}

	&:active {
		color: rgb(255, 255, 255);
		background-color: #4d351d;
	
		transform: scale(1.1);
	}
}



.remove-button {
	margin-left: auto;
	margin-right: 0px;

	height: var(--text-input-height);
	width: 25px;

	background: none;
	color: rgb(56, 56, 56);
	border: none;
	padding: 0;
	outline: inherit;

	text-shadow: 0 0 0px rgb(0, 0, 0);

	transform: scale(1.2);

	transition:
		transform 0.05s ease-out
	;

	&:hover {
		color: black;
		text-shadow: 0 0 1px rgb(71, 71, 71);
		transform: scale(1.5);
	}

	&:active {
		color: black;
		text-shadow: 0 0 3px rgb(26, 26, 26);
		transform: scale(1.3);
	}
}


.search-container {

	position: sticky;

	display: flex;
	flex-direction: row;
	align-items: center;
	//justify-content: center;

	height: 70px;
	z-index: 10;

	top: 10px;

	//margin: 0px 10px;
	padding: 0 1rem;
}


.unroll-tags-button {
    cursor: pointer;

	font-weight: bold;
	font-size: large;

	position: relative;

	height: var(--buttons-height);
	width: var(--buttons-width);

	border: none; 
	border-radius: 100px;

	color: var(--theme-color-1-alt);
	background-color: var(--theme-color-1);

	box-shadow: var(--shadow);

	transition:
		transform 0.1s ease-out,
		background-color 0.1s ease-out
	;

	&:hover {
		//transform: translateY(20px);
	}

	&:active {
		//transform: translateY(25px);
	}

	&.is-enabled {
		display: none;
		background-color: rgba(0, 0, 0, 0);
	}

	&::after {
		content: "#"; /* Insert a # symbol before the button's text */
		margin-right: 5px; /* Optional: add some space between the # and the button text */
	}
}
.close-tag-menu-button {
	
	font-size: larger;

	height: 50px;
	width: 50px;

	z-index: 101;
	position: relative;
	top: 70px;
	right: 35px;

	color: black;

	background-color: #00000000;
	border: none;
}
.tags-container {
	z-index: 100;
	position: fixed;

	display: flex;

	//top: calc(var(--menu-height) * -1);
	left: -100vw;
	top: 0;

	//height: var(--menu-height);
	height: 100vh;
	width: 100vw;

	background-color: var(--tag-list-color);
	box-shadow: none;

	&.unrolled {
		left: 0;
		box-shadow: var(--menu-shadow);
	}

	transition:
		left var(--menu-open-speed) ease-out,
		box-shadow var(--menu-open-speed) ease-out
	;
}
ul.selected-tag-list {
	display:block;
	font-size: small;

	width: 100px;
}
ul.tag-list {
	font-size: small;

	display: flex;
	flex-wrap: wrap;
	align-self: stretch;
	align-items: flex-end;

	overflow-y: auto;

	height: auto;

	margin-bottom: 25px;

	padding: 0px 10px;

	
	transition:
		max-height 0.15s ease-out
	;

	&::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}
}
.tag-button {
	font-size: small;
	font-weight: bold;

	margin-bottom: 3px;
	padding: 8px 10px;

	background-color: var(--tag-list-color);

    border: 1px solid rgb(0, 0, 0);
	border-radius: 20;

    cursor: pointer;

	&.tag-selected {
		//color: black;
		background-color: var(--color-1);

		transform: scale(1.1);
	}

	&::before {
		content: "#";
		margin-right: 2px; /* Adjust the spacing if needed */
	}
}

.tag-list-entry {
	text-align: left;

	display: inline-block;

	width: fit-content;
	height: fit-content;

	margin: 5px 5px;
}
.clear-tags-button {

	position: absolute;

	bottom: 10px;
	right: 10px;

	translate:
		calc(var(--big-button-size)/-2)
		0px;

	height: var(--big-button-size);
	width: var(--big-button-size);

	border: 1px solid black;
	border-radius: 100px;
	background-color: var(--color-4);

	/*&.is_rolled {
		display: none;
	}*/
}


.popup {
	position: fixed;
	z-index: 1000;

	display: flex;
    justify-content: center;
    align-items: center; 

	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;

	background-color: #000000ea;

	&.popup-hidden {
		display: none;
	}
}
.popup-window {
	background-color: #555555;
	padding: 50px 50px;
}

.action-pending-hidden {
	opacity: 0;
	pointer-events: none;
}




// LOGIN Definitions -----------------------------------------------

/*.login-container {

	display: inherit;

	&.is-open {
		display: inherit;
	}
}*/
.login-title {
	margin-bottom: 1rem;

	color: var(--theme-color-bg);
	//margin-top: 35px;
}
.login-input {

	font-weight: bold;

	height: 1.5rem;
	width: 50vw;
	max-width: 300px;

	color: var(--theme-color-menu);
	background-color: var(--theme-color-bg);

	border: none;
	border-radius: 40px;

	margin-bottom: 0.5rem;
	padding-left: 15px;
}
.login-button {

	font-size:medium;
	font-weight: bold;

	display: block;

	margin: 1rem auto;

	height: var(--buttons-height);
	width: var(--buttons-width);

	color: var(--theme-color-menu);
	background-color: var(--theme-color-bg);

	border: none;
	border-radius: 40px;


}

// Download / Upload Saves Definitions -----------------------------------------------

.save-page-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding-top: 30vh;
}
.upload-save-form {
	height: fit-content;
	width: fit-content;

	border: 1px solid rgb(80, 80, 80);
	border-radius: 25px;

	margin: 5px 5px;
}
.upload-save-button {
	height: 30px;
	width: 50px;

	margin-bottom: 5px;
}




// SLIDES Definitions -----------------------------------------------

.slideIn {
	animation: 0.25s slideIn forwards cubic-bezier(0.0, 0.0, 0.2, 1);
}

.slideOut {
	animation: 0.1s slideOut forwards;
}

@keyframes slideIn {
	from {
	transform: translate(100vw, 0);
	}
	to {
	transform: translate(0px, 0px);
	}
}
  
@keyframes slideOut {
	from {
	  transform: translate(0px, 0px);
	}
	to {
	  transform: translate(-100vw, 0);
	}
}

.slideInBack {
	animation: 0.25s slideInBack forwards cubic-bezier(0.0, 0.0, 0.2, 1);
}

.slideOutBack {
	animation: 0.1s slideOutBack forwards;
}

@keyframes slideInBack {
	from {
	  transform: translate(-100vw, 0);
	}
  
	to {
	  transform: translate(0px, 0px);
	}
}
  
@keyframes slideOutBack {
	from {
	  transform: translate(0px, 0px);
	}
  
	to {
	  transform: translate(100vw, 0);
	}
}
